@model Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm("Delete", "Movies", FormMethod.Post))
{

    <div class="form-group">
        <b>@Html.DisplayNameFor(e => e.Name) :</b>
        @Html.DisplayFor(e => e.Name)
    </div>
    <div class="form-group">
        <b>@Html.Label("Box Office Return") :</b>
        @Html.LabelFor(e => e.BoxOfficeReturn)
    </div>
    <div class="form-group">
        <b>@Html.DisplayNameFor(e => e.ProductionYear) :</b>
        @Html.DisplayFor(e => e.ProductionYear)
    </div>
    <a href="~/Movies/Edit/@Model.Id" class="btn btn-warning">Edit Instead of Deleting</a>
    <button type="submit" class="btn btn-success">Delete Movie</button>
}