@model List<_036_MoviesMvcWissen.Entities.Movie>
@{
    ViewBag.Title = "Movies";
}

@{
    if (TempData["Info"] != null)
    {
        <div class="alert alert-dismissible alert-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Informations about your last action :</strong> @TempData["Info"].ToString()
        </div>
    }
}

<table class="table">
    <tr>
        <td>
            <b>Actions</b>
        </td>
        <td>
            <b>Name</b>
        </td>
        <td>
            <b>Production Year</b>
        </td>
        <td>
            <b>Box Office Return</b>
        </td>
    </tr>
    @{
        bool flag = true;
        string color = "black";
        string textcolor = "yellow";

        if (Model != null)
        {
            foreach (var movie in Model)
            {
                if (flag)
                {
                    color = "black";
                    textcolor = "yellow";
                }
                else
                {
                    color = "yellow";
                    textcolor = "black";
                }

                flag = !flag;

        <tr style="background-color: @color !important; color: @textcolor">
            <td style="background-color: white; color: black;">
                @Html.ActionLink("Edit", "Edit", new { id = movie.Id }) | 
                @Html.ActionLink("Delete", "Delete", new { id = movie.Id })
            </td>
            <td>
                @movie.Name
            </td>
            <td>
                @movie.ProductionYear
            </td>
            <td>
                @movie.BoxOfficeReturn
            </td>
        </tr>
            }
        }
        <tr>
            <td colspan="4" align="center">Found: @Model.Count record(s) . </td>
        </tr>

    }
</table>